.cart-container-div {
  height: 100%;
  width: 300px;
  background-color: aqua;
  position: fixed;
  right: 0;
}

.cart-product-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cart-product-img {
  width: 100px;
  margin: 10px;
}
